<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <settings>
    <setting useStatementNamespaces="false"/>
    <setting cacheModelsEnabled="false"/>
    <setting validateSqlMap="true"/>
  </settings>

  <database>
    <provider name="sqlServer4.0"/>
    <dataSource name="NewPropData" connectionString="data source=.;database=Note;user id=sa;password=S197346825x0.;Application Name=NewProp;Max Pool Size=300 "/>
  </database>

  <sqlMaps>
    <sqlMap embedded="DAL.Data.xml,DAL"/>
  </sqlMaps>
</sqlMapConfig>